<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interdisciplinary - References</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Interdisciplinary - References</h1>
    <ul>
        <li><strong>Romero, M., Freiman, V., & Rafalska, M. (2022).</strong>
            <a href="https://www.researchgate.net/publication/358667140_Techno-creative_problem_solving_TCPS_framework_for_transversal_epistemological_and_didactical_positions_the_cases_of_CreaCube_and_the_Tower_of_Hanoi_task" target="_blank">
                 Techno-creative problem solving (TCPS) framework for transversal epistemological and didactical positions: the cases of CreaCube and the Tower of Hanoi task. 
            </a><em>In C. Michelsen, A. Beckmann, V. Freiman, U. Jankvist, and A. Savard (Eds). 15 Years of MACAS (Mathematics and its Connections to the Arts and Sciences) – Mathematics in Interdisciplinary Contexts as a Key for Societal Future Challenges. Springer Nature</em>
        </li>
        <li><strong>Kalmpourtzis, G., & Romero, M. (2020, December).</strong>
            <a href="https://www.researchgate.net/publication/346646539_Artifactual_Affordances_in_Playful_Robotics" target="_blank">
                 Artifactual Affordances in Playful Robotics.
            </a><em> In International Conference on Games and Learning Alliance (pp. 316-325). Springer, Cham. </em>
        </li>
        <li><strong>Romero, M., Alexandre, F., Roux, L., Giraudon, G., & Viéville, T. (2020).</strong>
            <a href="https://inria.hal.science/hal-03018617" target="_blank">
                 From computational neuroscience to computational learning science : Modeling the brain of the learner and the context of the learning activity.            
            </a><em>SophIA-summit 2020. https://hal.inria.fr/hal-03018617 </em>
        </li>
        <li><strong>Romero, M., Viéville, T. & Heiser, L. (2022).</strong>
            <a href="https://inria.hal.science/hal-02957270" target="_blank">
                 Analyse d’activités d’apprentissage médiatisées en robotique pédagogique.
            </a><em> Dans Alberto, B., Thievenaz, J. (ed). Enquêter dans les métiers de l’humain: Traité de méthodologie de la recherche en Sciences de l’Éducation et de la Formation. Tome II (pp. 423-434). Dijon: Éditions R&P. Cairn, RG, https://hal.inria.fr/hal-02957270</em>
        </li>
    </ul>
    <a href="/">Back to Mind Map</a>
</body>
</html>