<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids - References</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Kids - References</h1>
    <div class="container">
        <ul class="article-list">
            <li class="article-item"><strong>Leroy, A., & Romero, M. (2019, August).</strong>
                <a href="https://www.researchgate.net/publication/372589546_Problem_solving_through_educational_robotics_in_children_with_Developmental_Coordination_Disorder" target="_blank">
                    Problem solving through educational robotics in children with Developmental Coordination Disorder. 
                </a><em>18th Biennial EARLI Conference, Aachen, Germany, 12 Aug 2019 – 16 Aug 2019</em>
            </li>

            <li class="article-item"><strong>Cassone, L., Romero, M., & Basiri, S. (2020).</strong>
                <a href="https://link.springer.com/article/10.1007/s40692-020-00172-7" target="_blank">
                    Group processes and creative components in a problem-solving task with modular robotics, 
                </a><em><a href="https://doi.org/10.1007/s40692-020-00172-7" target="_blank" > Journal of Computing in Education.</a></em>
            </li>
        </ul>
        <a href="/">Back to Mind Map</a>
    </div>
</body>
</html>
