<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Older Adults - References</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Older Adults - References</h1>
    <div class="container">
    <ul class="article-list">
        <li class="article-item"><strong>Romero, M. (2022). </strong>
            <a href="https://doi.org/10.1007/978-3-030-60946-7_41" target="_blank">
                Older adults activity on creative problem solving with modular robotics. 
            </a><em>HCII 2022, vol. 41.</em>
        </li>
        <li class="article-item"><strong>Romero, M. (2019, July).</strong>
            <a href="https://doi.org/10.1007/978-3-030-22036-4_45" target="_blank">
                 Analyzing Cognitive Flexibility in Older Adults Through Playing with Robotic Cubes. 
            </a><em>In International Conference on Human-Computer Interaction (pp. 545-553). Springer, Cham.</em>
        </li>
    </ul>
    <a href="/">Back to Mind Map</a>
    </div>
</body>
</html>
