<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robotics & Educations - References</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Robotics & Educations - References</h1>
    <ul>
        <li><strong>Leroy, A., & Romero, M. (2022).</strong>
            <a href="https://link.springer.com/article/10.1007/s11423-022-10128-6" target="_blank">
                 Creative intention and persistence in educational robotic. 
            </a><em> <a href="//doi.org/10.1007/s11423-022-10128-6" target="_blank">Education Tech Research Dev (2022).</a></em>
        </li>
        <li>
            <a href="https://www.frontiersin.org/journals/education/articles/10.3389/feduc.2021.642147/full" target="_blank">
                Leroy, A., Romero, M. (2021). Teachers’ Creative Behaviors in STEAM Activities With Modular Robotics. Frontiers in Education. https://doi.org/10.3389/feduc.2021.642147
            </a>
        </li>
        <li><strong>Romero, M., & Loos, E. F. (2018).</strong>
            <a href="https://www.researchgate.net/publication/328611076_Playing_with_robotic_cubes_age_matters" target="_blank">
                 Playing with robotic cubes: age matters. Intergenerationality in a digital world: Proposals of activities. 
            </a><em>Publisher: Edições Universitárias Lusófonas</em>
        </li>
        <li><strong>Romero, M., Viéville, T. & Heiser, L. (2022).</strong>
            <a href="https://inria.hal.science/hal-02957270" target="_blank">
                 Analyse d’activités d’apprentissage médiatisées en robotique pédagogique. 
            </a><em>Dans Alberto, B., Thievenaz, J. (ed). Enquêter dans les métiers de l’humain: Traité de méthodologie de la recherche en Sciences de l’Éducation et de la Formation. Tome II (pp. 423-434). Dijon: Éditions R&P.  <a href="//hal.inria.fr/hal-02957270" target="_blank">Cairn, RG,</a></em>
        </li>
    </ul>
    <a href="/">Back to Mind Map</a>
</body>
</html>
