<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talks & Presentation - References</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Talks & Presentation - References</h1>
    <ul>
        <li>
            <a href="https://www.researchgate.net/publication/352292943_Du_modele_de_tache_au_corpus_de_donnees_pour_l'analyse_de_la_resolution_creative_de_probleme_en_contexte_mediatise" target="_blank">
                Conférence invitée #EIAH2021, Actes : Du modèle de tâche au corpus de données pour l’analyse de la résolution créative de problème en contexte médiatisé.            
            </a>
            <a href="https://fr.slideshare.net/slideshow/20210610-eiah2021-keynote-anr-creamaker/249308086" target="_blank">
                Conférence invitée #EIAH2021, Présentation : Du modèle de tâche au corpus de données pour l’analyse de la résolution créative de problème en contexte médiatisé.            
            </a>
        </li>
        <li><strong>Köhler, L., & Romero, M. (2023).</strong>
            <a href="https://www.researchgate.net/publication/369920410_Assessment_of_divergent_thinking_in_social_and_modular_robotics_task_A_edition_distance_approach_at_the_configuration_level" target="_blank">
                 Assessment of divergent thinking in social and modular robotics task: A edition distance approach at the configuration level.  
                            
            </a><em>25th International Conference on Human-Computer Interaction. At: Copenhagen, Denmark. </em><a href="https://link.springer.com/chapter/10.1007/978-3-031-34550-0_24?fbclid=IwAR07UvW7e_8rosQ8Wc5J89QUN0dgSBCLiRp6nYNUNWC74ZwlteRRmna2j8w" target="_blank">Springer proceedings</a> <a href="https://science.ulysseus.eu/records/t6whv-tdm42?fbclid=IwAR18eX8aO061KIEEPKO_5S9UHeblnojNsVWY4nAxh6n4I76Rz14drF4cAto" target="_blank"> Presentation </a>
        </li>
        <li><strong>Romero, M., David, D., & Lille, B. (2018, December).</strong>
            <a href="https://link.springer.com/chapter/10.1007/978-3-030-11548-7_37" target="_blank">
                 CreaCube, a Playful Activity with Modular Robotics.             
            </a><em>In International Conference on Games and Learning Alliance (pp. 397-405). Springer, Cham.</em>
        </li>
        
    </ul>
    <a href="/">Back to Mind Map</a>
</body>
</html>