<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technological applications - References</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Technological applications - References</h1>
    <div class="container">
        <ul class="article-list">
            <li class="article-item"><strong>Romero, M. (2023, June).</strong>
                <a href="https://www.researchgate.net/publication/371348949_Assessment_of_computational_thinking_in_an_ill-defined_problem-solving_task_with_modular_robots" target="_blank">
                    Assessment of computational thinking in an ill-defined problem-solving task with modular robots.
                </a><em> International Conference of the Learning Sciences (ICLS)</em>
            </li>
            <li class="article-item"><strong>Kalmpourtzis, G., & Romero, M. (2023).</strong>
                <a href="https://www.researchgate.net/publication/366564512_An_affordance-based_framework_for_the_design_and_analysis_of_learning_activities_in_playful_educational_robotics_contexts" target="_blank">
                    An affordance-based framework for the design and analysis of learning activities in playful educational robotics contexts. 
                </a><em><a href="https://doi.org/10.1080/10494820.2022.2158478" target="_blank"> Learning Environments, 1-14.</a> </em>
            </li>
            <li class="article-item"><strong>Roux, L., Romero, M., Alexandre, F., Viéville, T., & Mercier, C. (2020).</strong>
                <a href="https://hal.science/LINE/hal-03013685v1" target="_blank">
                    Développement d’une ontologie pour l’analyse d’observables de l’apprenant dans le contexte d’une tâche avec des robots modulaire. 
                </a><em>Inria. 2020, 48. https://hal.archives-ouvertes.fr/LINE/hal-03013685v1</em>
            </li>
            <li class="article-item"><strong>Leroy, A., Romero, M., & Cassone, L. (2021).</strong>
                <a href="https://www.tandfonline.com/doi/full/10.1080/10494820.2021.1875005" target="_blank">
                    Interactivity and materiality matter in creativity: educational robotics for the assessment of divergent thinking.
                </a><em> Interactive Learning Environments, 1-12.</em>
            </li>
            <li class="article-item"><strong>Romero, M., David, D., & Lille, B. (2018, December).</strong>
                <a href="https://link.springer.com/chapter/10.1007/978-3-030-11548-7_37" target="_blank">
                    CreaCube, a Playful Activity with Modular Robotics.  
                </a><em>In International Conference on Games and Learning Alliance (pp. 397-405). Springer, Cham.</em>
            </li>
        </ul>
        <a href="/">Back to Mind Map</a>
    </div>
</body>
</html>