<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theoretical & Methodological Frameworks - References</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Theoretical & Methodological Frameworks - References</h1>
    <div class="container">
        <ul class="article-list">
            <li class="article-item"><strong>Mercier, C., Roux, L., Romero, M., Alexandre, F., & Viéville, T. (2021, August).
                <a href="https://line.gitlabpages.inria.fr/aide-group/creaonto/docs/ICDL21_slides.pdf" target="_blank">
                    </strong> Formalizing Problem Solving in Computational Thinking: an Ontology approach. 
                    
                </a><em>2021 IEEE International Conference on Development and Learning (ICDL)</em>, pp. 1-8. IEEE.
            </li>
            <li class="article-item"><strong>Köhler, L., Romero, M., & Reynaud-Bouret, P. (2021).</strong>
                <a href="https://www.researchgate.net/publication/358801904_Graph_models_for_learning" target="_blank">
                    Graph models for learning. 
                    
                </a>In <em>“Understanding creative problem solving through a computational learning sciences perspective. ANR CreaMaker workshop”</em>, 15 janvier 2021, Université Côte d’Azur, Nice, France.
            </li>
            <li class="article-item"><strong>Romero, M., & Chevré, A. M. (2020).</strong>
                <a href="https://www.researchgate.net/publication/346629855_ANR-18-CE38-0001-OpenAccess-20201201-Rapport_Intermediaire" target="_blank">
                    Rapport intermédiaire ANR-18-CE38-0001. 
                    
                </a><em>OpenAccess</em>.
            </li>
        </ul>

        <a href="/">Back to Mind Map</a>
    </div>
</body>
</html>
