body {
    background: linear-gradient(135deg, #e0f7fa, #80deea, #26c6da);
    background-attachment: fixed; /* Assure un affichage fluide lors du défilement */
    font-family: Arial, sans-serif; /* Améliore la lisibilité */
}


button {
    margin: 10px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* Style des liens */
path {
    stroke: #333;
    stroke-width: 2px;
    fill: none;
}


/* Texte des nœuds */
text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: #333;
    pointer-events: none;
}

svg {
    display: block;
    margin: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Effet hover sur les liens */
path.link {
    transition: stroke 0.3s ease;
}
path.link:hover {
    stroke: #4CAF50;
    stroke-width: 3;
}
